:root {

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --background-darkest:rgb(30,31,34);
  --background-darker: rgb(43,45,49);
  --background-dark: rgb(49,51,57);
  --discord-purple: rgb(87,102,242);
  --discord-black: rgb(17,18,20);
  --discord-white: rgb(242,243,245);
  --discord-green: rgb(35,165,89);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-darkest);

}

a {
  color: inherit;
  text-decoration: none;
}
