.appContainer {
  position:absolute;
  top:0px;
  left:0px;
  display:flex;
  flex-direction: row;
  width:100vw;
  height: 100vh;
}

.serverList {
  position:relative;
  width: 90px;
  height:100%;
  background-color: var(--background-darkest);
}
.serverBar {
  position:relative;
  width:350px;
  height:100%;
  background-color: var(--background-darker);
}

.channel {
  position: relative;
  flex-grow: 1;
  height: 100%;
  background-color: var(--background-dark);
}

.memberBar {
  width: 350px;
  height: 100%;
  background-color: var(--background-darker);
}

.serverListDividerTop {
  width: 30px;
  height:3px;
  border-radius: 1.5px;
  background-color: var(--background-dark);
  position: relative;
  display: block;
  margin: 10px auto 10px auto;
}

.serverContainer {
  width: 100%;
  height: 100%;
}
.topContainer {
  width: 100%;
  height:60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.topServerName {
  position:relative;
  width: 350px;
  background-color: var(--background-darker);
  height:100%;
  border-bottom: 1px solid var(--discord-black);
  padding: 17px 20px 15px 20px;
  flex-shrink: 0;
}
.topServerName h1 {
  color: var(--discord-white);
  font-size: 20px;
}
.topChannelName {
  position:relative;
  width: 100%;
  background-color: var(--background-dark);
  height:100%;
  border-bottom: 1px solid var(--discord-black);
  padding: 17px 20px 15px 20px;
  flex-shrink: 1;
}
.serverContentsContainer {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
}